#signInPage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 100;
}

#signInPage .navbar {
  padding: 0;
}

#signInPage .Linkedin-icon {
  color: #0a66c2;
}

.visually-hidden {
  position: absolute;
  right: 165px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#signInPage img.preview {
  height: 150px;
  object-fit: contain;
}

#signInPage hr {
  background-color: rgba(0, 0, 0, 0.2);
}

.logoTitle {
  font-size: 33px;
  font-weight: 700;
  margin-right: 60px;
}

.registerNav {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: transparent solid 1px;
  font-weight: 500;
  font-size: 16px;
}
.registerNav:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
  border: white solid 1px;
}
.registerNav:focus,
.registerNav:active {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: transparent solid 1px !important;
  color: rgba(0, 0, 0, 1) !important;
  box-shadow: none !important;
}
.signInNav {
  background-color: transparent;
  color: #0a66c2;
  border: #0a66c2 solid 1px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 22px;
}
.signInNav:hover {
  background-color: rgba(10, 102, 194, 0.2);
  color: #0a66c2;
  border: #0a66c2 solid 1px;
}
.signInNav:focus,
.signInNav:active {
  background-color: rgba(10, 102, 194, 0.4) !important;
  color: #0a66c2 !important;
  box-shadow: none !important;
  border: #0a66c2 solid 1px;
}

.welcomePage {
  font-size: 56px;
  color: #2977c9;
  font-weight: 400;
  line-height: 70px;
}

.signInForm {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.formCol {
  z-index: 7;
}

.signInForm input {
  border: rgba(0, 0, 0, 0.6) 1px solid;
  border-radius: 2px;
  height: 50px;
  padding-bottom: 5px;
}

.submitSignIn {
  border-radius: 100px;
  background-color: #0a66c2;
  font-size: 20px;
}

.submitSignIn:hover {
  background-color: #004182;
}

.submitSignIn:focus,
.submitSignIn:active {
  background-color: #09223b !important;
  box-shadow: none !important;
}

.submitRegister {
  border-radius: 100px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  font-weight: 500;
  font-size: 20px;
}

.submitRegister:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
  border: rgba(0, 0, 0, 0.2) solid 1px;
}

.submitRegister:focus,
.submitRegister:active {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: transparent solid 1px !important;
  color: rgba(0, 0, 0, 1) !important;
  box-shadow: none !important;
}

.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signInImage {
  position: absolute;
  right: 0vw;
  z-index: 5;
}

.bg-colour-change {
  position: fixed;
  top: 70vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf9f7;
  z-index: -1;
}
