#soloHalo2 > .row > .col > hr {
  background-color: #deddda;
  margin: 1rem 0px;
  width: 100%;
}

#feedRightColumn {
  margin-right: 20px;
}

@media (max-width: 768px) {
  #posterBit {
    position: sticky;
    top: 10px;
    z-index: 10;
  }
}
.postContainer {
  border: 1.5px solid lightgray;
  margin-top: 10px;
  border-radius: 10px;
}
.profilePicPost {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin-top: 5px;
}
.postUsername {
  margin-top: 2px;
  height: 20px;
  font-weight: 600;
}
.postTitle {
  font-size: 12px;
  font-weight: 300;
}
.postTitle > p {
  margin: 0;
}
.postCreatedAt {
  font-size: 12px;
  font-weight: 300;
}

.pen {
  color: gray;
  font-size: 20px;
  margin-left: 20px;
}
.bin {
  color: gray;
  font-size: 20px;
}
.bin:hover {
  color: red;
}
.pen:hover {
  color: blue;
}

.commentProfilePic {
  width: 50px;
  height: 50px;
  border: 2px black !important;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: -10px;
}

.commentImageBorder {
  width: 50px;
  height: 50px;
  border: 2px black !important;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: -10px;
  z-index: 2;
}
.singleCommentRow {
  margin-right: 12px;
  margin-left: 1px;
  margin-bottom: 25px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f2f2f2;
}

#addCommentBtn {
  border-radius: 0px, 10px, 0px, 0px !important;
  text-align: center !important;
}
.visually-hidden {
  position: absolute;
  right: 165px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.previewEditImage {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.containerProPicPost {
  padding-right: 0px !important;
  padding-left: 15px !important;
  margin-right: -15px;
}

.postText {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.emoji {
  font-size: 16.5px;
}

.commentInputField {
  margin-left: -8px !important;
  border-radius: 10px 0 0 10px;
}

#addCommentBtn {
  margin-left: -8px;
  width: 85px;
  border-radius: 0 50px 50px 0px;
}

.binAndEdit {
  position: absolute;
  top: 0;
  right: -20px;
}
