#soloHalo2 > .row > .col > hr {
  background-color: #deddda;
  margin: 1rem 0px;
  width: 100%;
}

#feedRightColumn {
  margin-right: 20px;
}

@media (max-width: 768px) {
  #posterBit {
    position: sticky;
    top: 10px;
    z-index: 10;
  }
}
.postContainer {
  border: 1.5px solid lightgray;
  margin-top: 10px;
  border-radius: 10px;
}
.profilePicPost {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 5px;
}
.postUsername {
  margin-top: 2px;
  height: 20px;
}
.postTitle {
  font-size: 11.5px;
}
.postTitle > p {
  margin: 0;
}
.postCreatedAt {
  font-size: 11.5px;
}
.pen {
  color: gray;
  font-size: 20px;
  margin-left: 20px;
}
.bin {
  color: gray;
  font-size: 20px;
}
.bin:hover {
  color: red;
}
.pen:hover {
  color: blue;
}
.imageForPost {
  width: 400px;
  height: 500px;
}
.commentProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: -10px;
  margin-right: 10px;
}
.singleCommentRow {
  margin-bottom: 20px;
}
#addCommentBtn{
  border-radius: 0px, 10px, 0px, 0px !important;
  text-align: center !important;
}
.visually-hidden {
  position: absolute;
  right: 165px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.previewEditImage{
  display: flex;
  justify-content:center;
  width:200px;
  height: 200px;
}